@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply bg-green-100; */
  @apply bg-white;
}


input[type='color'] {
  -webkit-appearance: none;
  @apply drop-shadow-lg rounded-full overflow-hidden w-8 h-8 border hover:scale-110 transition-all cursor-pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

input[type='range']{
  @apply cursor-pointer
}

select {
  @apply cursor-pointer;
}

select {
  @apply focus:border-gray-400 outline-none border rounded-lg;
  
}
input {
  @apply focus:border-gray-400 outline-none border-gray-200 border rounded-lg;
}

.main-flat {
  perspective: 1000px;
  position: relative;
  width: 450px;
  height: 500px;
}

.main-heat {
  perspective: 1000px;
  position: relative;
  width: 450px;
  height: 521px;
}
.main-nested {
  perspective: 1000px;
  position: relative;
  width: 450px;
  height: 459px;
}
.settings {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.back-flat {
  transform: rotateY(-180deg);
  height: 584px;
}

.back-heat {
  transform: rotateY(-180deg);
  height: 542px;
}

.back-nested {
  transform: rotateY(-180deg);
  height: 374px;
}

.rotate {
  transform: rotateY(180deg);
}

.rotate-back {
  transform: rotateY(0deg);
}

.transition-bg {
  transition: background;
  transition-duration: 500ms;
}


